/************* NAVBAR Styles *************/
.navbar-logo {
    padding: 5px 10px;
}

.nav>li {
    text-align: center;
}

.navbar-header>a {
    color: #ace894;
}

.navbar-header>a:hover {
    color: #ace894;
    text-decoration: none;
}

.navbar-logoName {
    font-size: 2.5em;
    font-family: 'Raleway';"
}

#kspace {
    letter-spacing: 4px;
}

.navbar-logoImg {
    width: 54px;
    height: 20px;
    margin-top: -11px;
}

.userIcon {
    font-size: 2em;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 20px;
}

.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-content {
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}

.navbar-content:before, .navbar-content:after {
    display: table;
    content: "";
    line-height: 0;
}

.navbar-toggle {
    color: #ace894;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}

.navbar-footer {
    background-color:#DDD;
}

.navbar-footer-content { 
    padding:15px 15px 15px 15px; 
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .nav>.userAccount {
        display: none;
    }
}
/************* End of NAVBAR Styles *************/


/************* Homepage Styles *************/
body {
    background-color: #E6ECF0;
    display: none;
}

aside{
    margin-top: 5%;
}

article {
    background-color: #fff;
    padding: 20px;
}

.posts {
    margin-top: 5%;
    margin-bottom: 5%;
}

.posts>a>article {
    border-bottom: 1px solid lightgrey;
}

.posts>a {
    color: black;
    text-decoration: none;
}

.posts>a:hover>article {
    background-color: #FAFAFA;
    text-decoration: none;
}

footer {
    text-align: center;
    clear: both;
}

.footer {
    padding-top: 1em;
}

.socialMedia>a, .footer-links>a {
    font-size: 1.25em;
    padding: 2%;
    color: #ace894;
}

.copyright {
    color: #FAFAFA;
    font-size: 1em;
}